<h1>Buscar Filme</h1>
<form [formGroup]="formBusca">
<label for="titulo">Título: </label>
<input  type="text" 
        id="titulo" 
        name="titulo"
        formControlName="titulo"> 
<input type="button" value="Buscar"
        [disabled]="formBusca.invalid"
        (click)="buscar()">
</form>
<br>
<br>
<div *ngIf="filme != undefined">
        <img [src]="filme.Poster" alt="Poster">]
        <ul>
        <li>{{filme.Title}}</li>
        <li>Diretor: {{filme.Director}}</li>
        <li>Gênero: {{filme.Genre}}</li>
        <li>Ano: {{filme.Year}}</li>
        </ul>
</div>